@{
    ViewData["Title"] = "Error Page";
}
<br /><br /><br /><br /><br /><br /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-12  center">
            <span class="section-heading text-danger">
                @if (ViewData["ErrorMessage"] != null)
                {
                    <h1>
                        @ViewData["ErrorMessage"]
                    </h1>
                }
                else
                {
                    <h1>
                        Error while processing the request
                    </h1>
                }

            </span>

            @if (ViewData["CorrelationId"] != null)
            {
                <div>Use "<b>@ViewData["CorrelationId"]</b>" as reference ID</div>
            }
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br />