################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
*/**/obj/
*/**/bin

*.log

/$tf
/$tf

/src/ATS/packages

/src/ATS/.vs

src/ATS/Airlines/API.GoAir/API.GoAir.csproj.user
src/ATS/ATS.Application/ATS.Web/ATS.UI.csproj.user
src/ATS/ATS.Application/ATS.DataAccess/ATS.DataAccess.csproj.user
src/ATS/ATS.Application/ATS.UI/ATS.UI.csproj.user