@model ATS.UI.Models.BookingViewModel
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation!!</h2>

<p>Your booking has been confirmed successfully with reference number @Model.BookingReferenceNumber</p>

